.size-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.size-btn {
    cursor: pointer;
    font-size: 12px;
    color: #555;
    padding: 2px;
}

#size-input {
    width: 35px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-appearance: textfield; /* Hide arrows in Firefox */
}

#size-input::-webkit-inner-spin-button { 
    -webkit-appearance: none; /* Hide arrows in Chrome */
}
