#canvas-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f8f8;
    /* Dotted grid pattern */
    background-image: radial-gradient(#ccc 1px, transparent 1px);
    background-size: 30px 30px;
}
