#canvas-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    /* Grid is immutable here */
    background-color: #fdfdfd;
    background-image: 
        linear-gradient(rgba(200, 200, 200, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(200, 200, 200, 0.5) 1px, transparent 1px);
    background-size: 40px 40px;
}

/* Force canvas to be transparent */
.canvas-container, #teachingCanvas {
    background-color: transparent !important;
}
