#canvas-container {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    /* Grid is applied here */
    background-color: #fdfdfd; 
    background-image: 
        linear-gradient(rgba(220, 220, 220, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(220, 220, 220, 0.5) 1px, transparent 1px);
    background-size: 50px 50px;
}

/* Force the canvas to be see-through */
.canvas-container, #teachingCanvas {
    background-color: transparent !important;
}
